<section id="contact" class="contact section-bg">

      <div class="container-fluid">
        <div class="section-title">
          <h2>Log In for Access</h2>
        <p> Log in Please !  </p>
	</div>
      </div>


        <div class=" form-group row">

          <div class="col-lg-6">
              
	    <%= form_with model: @user, class: "php-email-form contact-form-wrap" ,url: login_path do |form| %>

		<div class="mb-3">
		        <% flash.each do |type, msg| %>
                          <div class="alert alert-danger">
                           <%= msg %>
                        </div>
                        <% end %>

		</div>

	       <div class="form-row">
                 <div class="col-lg-12 form-group">
                   <%= form.label :email  %>
                   <%= form.text_field :email, class: "form-control", placeholder: "someone@domain.org"  %>
                 </div>
               </div
>
		<div class="form-row">
                 <div class="col-lg-12 form-group">
                   <%= form.label :password  %>
                   <%= form.password_field :password, class: "form-control", placeholder: "Enter password"  %>
                 </div>
               </div>             
	    
               <div class="form-row">
                 <div class="col-lg-12 form-group">
                    <div> <%= recaptcha_tags theme: 'dark' %>  </div>
                    <div> <%= form.button "Submit", class: "btn btn-primary btn-dark btn-lg" %>    </div>
                 </div>
               </div>
           
	    <% end  %>
	</div>

      </div>

 </section>







