<!DOCTYPE html>
<html>
  <head>
    <title>DRIPTCO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
   
    <%# Vendor CSS Files %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag 'img/apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %>  	
    
  </head>

  <body>

<!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light">
	  <%= link_to root_path do %>
    		<span> Driptco</span>
	  <% end %>	
        </h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><%= link_to "Home",root_path %>  </li>
          <li><%= link_to "Learn More",signup_path %>  </li>
          <!-- <li><%= link_to "Login",login_path %>  </li> -->
        </ul>
      </nav>

    </div>
  </header>

  <main id="main"> 
    <%= yield %>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <%= Time.zone.now.year %>&nbsp;&nbsp;<strong><span>DRIPTCO</span></strong>&nbsp;&nbsp;All Rights Reserved
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
 
  </body>
</html>
